* {
    margin: 0px;
    box-sizing: border-box;
}
 * body, html{
     width: 100vw;
     height: 100vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /* background-image: url('../images/cloud.jpg'); */
     font-family: 'Nunito Sans', sans-serif;
 }


 .header{
     display: flex; 
     /* flex-direction: row; */
     padding-top: 30px;
     padding-left: 30px; 
     padding-right: 30px; 
     
 }

 #babybox{
    width: 110px;
    height: 150px;
    /* border-style: outset;
    border-width: thick;
    border-color: rgb(64, 174, 247); */
    border-radius: 6px;
    box-shadow: 5px 5px 25px rgb(0,0,0,0.5);
    background-image: url('../images/DIAPER baby.gif');
    background-position: top center;
    background-size: 130%;
    position: fixed;
    right: 8px;
    bottom: 8px;
   }

    #babybox p{
    padding-top: 115px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(13, 47, 105);
    font-size: large;;
    background-color:rgb(64, 174, 247);
    opacity: 0.1;
    filter: alpha(opacity=10);
}



#babybox :hover{
    background-color:rgb(64, 174, 247);
    opacity: 0.5;
    filter: alpha(opacity=50);
    color: rgb(13, 47, 105);
}


 img{
     height: 40px;

 }

h1, h6{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida; Grande', 'Lucida Sans', Arial, sans-serif; */
    color: rgb(13, 47, 105);
    font-style: italic;
    font-size: 2.5rem;
    padding-top: 20px;
    font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Kaushan Script', cursive;
}


 .container1{
  display: flex; 
  justify-content: center;
  flex-direction: row;
  /* align-items: center; */
  /* height: 500px; */
  flex-wrap: wrap;
  align-content: center;
  margin: 0px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

 .boxButton{
    width: 150px;
    height: 60px;
    background-color: rgb(64, 174, 247);
    color: rgb(13, 47, 105);
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-appearance: button;
    outline: none;
    box-shadow: 5px 5px 25px rgb(0,0,0,0.5);
    /* box-shadow: 0 5px 25px rgb(0,0,0,0.5); */
    text-align: center;
 }

 .boxButton:hover{
     background-color:rgb(27, 138, 212);
     color:rgb(229, 247, 64);

 }

 #fiveButton{
     width: 600px;
     border-radius: 6px;
     margin-top: 5px;
 }
 




 /* #index{
     z-index: auto;
 } */

 #index1{
    /* z-index: 1; */
}

.modal-ground{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: center;
    top: 0;
    background-color:rgb(64, 174, 247);
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.modal-container{
    width: 30%;
    height: 65%;
    color: rgb(211, 22, 236);
    position: absolute;
    z-index: 3;
    display: flex; 
    align-items: center;
    justify-content: center;
   
}


.close-button{
    position: relative;
    top: 1em;
    right: 1em;
}

 /* above code is for responsive web */









/* THIS SHOULD BE AT THE END */


@media (min-width: 600px){

}
/* MOBLE FIRST */



@media (max-width: 600px){

}
/* DESKTOP FIRST */

/* -------------ORIENTATION------------- */


@media (oriention: landscape){

}

@media (oriention: portrait){

}

